<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <%= form_tag(equipment_index_path, method: :get) do %>
      Equipment <%= text_field_tag :name %> <br>
      Sport-Category <%= select_tag "sport", options_for_select(Equipment::SPORTS, "Category")  %> <br>
      <%= submit_tag 'Search', name: nil, class:"btn btn-primary" %>
    <% end %>
  </div>
</div>

<div class="container">
  <h1>Your equipment</h1>
  <%= render partial: "shared/cards", object: @equipment%>
  <br>
  <p><%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary" %></p>
  <p><%= link_to "Add your equipment", new_equipment_path, class: "btn btn-primary" %></p>
</div>
