<div class="container">
  <h1>Create a new equipment</h1>
  <%= simple_form_for @equipment do |f| %>
    <%= f.input :name %>
    <%= f.select :sport, Equipment::SPORTS %>
    <%= f.input :price %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.input :address %>
    <%= f.input :description %>
    <%= f.submit "Create", class: "btn btn-primary"%>
  <% end %>
  <br>
  <%= link_to "Equipment List", equipment_index_path, class: "btn btn-primary" %>
</div>
